html,body{
    /* background-color: #76a346; */
    margin:0 ;
    padding: 0;
    /* background-color: #a7bcff; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing: border-box;
}

.form-container{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px 60px;
    gap: 10px;  /* may be faulty */
    /* height: 80vh; */
}

.form-wrapper .logo{
    /* color: #76a346; */
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.title{
    font-size: 12px;
    color: #5d5b8d;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: 500; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
}
form input{
    padding: 15px;
    /* border-radius: 5px; */
    border: none;
    width: 250px;
    /* border-bottom: 1px solid #76a346; */
    border-bottom: 1px solid #a7bcff;
    &::placeholder{
        color: #afafaf
    }
}

form input.avatar{
    display: none;
}

label.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    cursor:pointer;
}

label img{
    width: 32px;
}

form button{
    padding: 10px;
    border: none;
    /* border-radius: 10px; */
    /* background-color: #98d05c; */
    background-color: #7b96ec;
    color: white;
    /* margin-top: 20px; */
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

form+p{
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 12px;
}

.home{
    height: 100vh;
    background-color: #a7bcff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px white solid;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}

.sidebar{
    flex: 1;
    background-color: #3e3c61;
    border-right: none;
}

.navbar{
    height: 65px;
    background-color: #2f2d52;
    color: #ddddf7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-weight: bold;
    font-size: large;
}

.profile{
    display: flex;
    gap: 10px;
}

.profile span{
    align-self: center;
}

.profile img{
    background-color: #ddddf7;
    height: 28px;
    width: 28px;
    border-radius: 50%;;
    object-fit: cover;
}

.profile button{
    background-color: #5d5b8d;
    border: none;
    color: #ddddf7;
    font-size: 10px;
    /* border-radius: 10px; */
    cursor: pointer;
}

.search{
    border-bottom: 1px gray solid;
}
.searchForm{
    padding: 10px;
}
.search input{
    /* width: 100%; */
    background-color: transparent;
    outline: none;
    border: none;
    /* padding: 10px; */
    color: white;
    &::placeholder{
        color: lightgray;
    }
}

.userchat{
    /* width: 40px; */
    color:white;
    /* font-size: 20px; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: #2f2d52;
    }
}

.userchat img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userChatInfo span{
    font-size: 18px;
    font-weight: 500;
}

.userChatInfo div{
    font-size: 14px;
    color: lightgray;
}

.chat{
    flex:2
}

.chatNavbar{
    background-color: #5d5b8d;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.chatNavbar span{
    color:lightgray;
    font-size: 20px;
}

.chatIcons{
    display: flex;
    gap: 10px;
}
.chatIcons img{

    height: 28px;
}