* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.warning {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: red;
  padding: 10px;
  color: white;
  margin-bottom: 0px;
}

.form-container {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 60px;
  gap: 10px;
}

.form-wrapper .logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  font-size: 12px;
  color: #5d5b8d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-wrapper input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #a7bcff;

  &::placeholder {
    color: #afafaf;
  }
}

.form-wrapper input.avatar {
  display: none;
}

label.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  cursor: pointer;
}

label img {
  width: 32px;
}

.form-wrapper button {
  padding: 10px;
  border: none;
  height: 45px;
  border-radius: 4px;
  background-color: #7b96ec;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form-wrapper form+p {
  margin-top: 10px;
  margin-bottom: auto;
  font-size: 12px;
}

.home {
  height: 100vh;
  background-color: #a7bcff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px white solid;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  background-color: #3e3c61;
  border-right: none;
}

.navbar {
  height: 50px;
  background-color: #2f2d52;
  color: #ddddf7;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  font-size: large;
}

.profile {
  display: flex;
  gap: 10px;
}

.profile span {
  align-self: center;
}

.profile img {
  background-color: #ddddf7;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile button {
  background-color: #5d5b8d;
  border: none;
  color: #ddddf7;
  font-size: 10px;
  height: 28px;
  align-self: center;
  cursor: pointer;
}

.search {
  border-bottom: 1px gray solid;
}

.searchForm {
  padding: 10px;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;

  &::placeholder {
    color: lightgray;
  }
}

.userchat {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #2f2d52;
  }
}

.userchat img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.userChatInfo div {
  font-size: 14px;
  color: lightgray;

}

.chat {
  flex: 2;

  display: flex;
  flex-direction: column;
}

.chatNavbar {
  background-color: #5d5b8d;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chatNavbar span {
  color: lightgray;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}


.recepientProfilePic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chatIcons {
  display: flex;
  gap: 10px;
}

.chatIcons img {
  cursor: pointer;
  height: 28px;
}

.messages {
  flex: 1;
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: auto;
  overflow-x: hidden;
}

.message {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.noUserSelected {
  width: 100%;
  height: calc(100% - 70px);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: lightgray;
  color: grey;

}

.message.owner {
  flex-direction: row-reverse;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.delTime {
  white-space: nowrap;
  font-size: 11px;
  display: inline;
}

.messageInfo img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.messageContent {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.message.owner .messageContent {
  align-items: center;
  justify-content: flex-end;
}

.messageContent div {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
}

.message.owner .messageContent div {
  background: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
  max-width: 80%;
}

.messageContent img {
  max-width: 50%;
}

.message.owner .messageContent img {
  width: 50%;
}

.input {
  background-color: white;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textMsg {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;

  &::placeholder {
    color: lightgray;
  }
}

.inputButtons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputButtons input {
  display: none;
}

.inputButtons img {
  height: 24px;
  width: 24px;
  object-fit: cover;
  cursor: pointer;
}

.inputButtons button {
  background-color: #8da4f1;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}